<footer class="px-6 pt-12 pb-24 bg-crimson text-white ">
   <div class="max-w-4xl mx-auto flex flex-col gap-12">
        <div class="flex flex-col items-center gap-6 lg:flex-row lg:justify-between">
            <h2 class="font-heading text-xl">Contact June Today.</h2>
            {{ partial:link_button url="/contact" style="inverted" }}
                Get in Touch
            {{ /partial:link_button }}
    </div>

    <hr class="border-white w-full" />

    <div class="flex flex-col gap-6 sm:grid sm:grid-cols-2">
            <div class="space-y-6">
                <a href="/" class="inline-flex min-h-12 items-center font-light text-white uppercase" aria-label="{{ settings:site_name }} homepage">
                    {{ settings:website_logo }}
                        {{ svg :src="url" class="*:fill-white w-[72px] mr-2 -mb-6" }}
                    {{ /settings:website_logo }}

                    | {{ settings:site_name }}
                </a>
                
                <div class="space-y-3.5 text-sm col-start-1">
                    {{ settings:footer_content }}
                </div>

                {{ if settings:social }}
                    <nav class="flex flex-wrap gap-1 col-start-1" aria-label="Social links">
                        {{ settings:social }}
                            <a href="{{ url }}" class="flex size-12 items-center justify-center text-white bg-crimson-dark" aria-label="{{ name }}" rel="noopener">
                                {{ svg :src="icon" class="size-4.5 fill-current" aria-hidden="true" focusable="false" }}
                            </a>
                        {{ /settings:social }}
                    </nav>
                {{ /if }}
            </div>

            <nav class="space-y-3.5 text-sm col-start-2 row-start-1">
                {{ nav }}
                    <a href="{{ url }}" class="block relative w-fit text-white uppercase" {{ if is_current }}aria-current="page"{{ elseif is_parent }}aria-current="true"{{ /if }}>{{ title }}</a>
                {{ /nav }}
            </nav>

            <p class="text-sm text-white text-center w-full pt-6 col-span-full">
                COPYRIGHT &copy; {{ now format="Y" }} {{ settings:site_name }}
            </p>
    </div>
   </div>
</footer>